@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bs-topbar-height: 120px;
        --bs-topbar-bg: #fff;
        --bs-topbar-b-border-color: #dee2e6;
        --bs-topbar-nav-icon-bg: #96a0b5;
        --bs-topbar-nav-icon-color: #96a0b5;
        --bs-startbar-width: 270px;
        --bs-startbar-collapsed-width: 70px;
        --bs-startbar-bg: #fff;
        --bs-startbar-e-border-color: #dee2e6;
        --bs-menu-icon-color: #96a0b5;
        --bs-menu-link-color: #061237;
        --bs-nav-link-disc-color: #8997bd;
        --bs-menu-label-color: #717fa7;
        --bs-label-color: #656d9a;
        --bs-text-muted: var(--bs-secondary-color);
        --bs-box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
        --bs-theme-white-color: #ffffff;
        --bs-border-secondary: #95a0c5;
        --bs-breakpoint-xs: 0;
        --bs-breakpoint-sm: 576px;
        --bs-breakpoint-md: 768px;
        --bs-breakpoint-lg: 992px;
        --bs-breakpoint-xl: 1200px;
        --bs-breakpoint-xxl: 1400px;
        --bs-indigo: #6610f2;
        --bs-red: #ef4d56;
        --bs-orange: #fd7e14;
        --bs-yellow: #ff9f43;
        --bs-green: #22c55e;
        --bs-teal: #22c5ad;
        --bs-cyan: #41cbd8;
        --bs-black: #000000;
        --bs-white: #ffffff;
        --bs-gray: #95a0c5;
        --bs-gray-dark: #555b7e;
        --bs-gray-100: #f4f6f9;
        --bs-gray-200: #eaeff5;
        --bs-gray-300: #d9e1ec;
        --bs-gray-400: #c1cde0;
        --bs-gray-500: #a8b5d1;
        --bs-gray-600: #95a0c5;
        --bs-gray-700: #7a82b1;
        --bs-gray-800: #555b7e;
        --bs-gray-900: #2b2d3b;
        --bs-primary: #22c55e;
        --bs-secondary: #95a0c5;
        --bs-success: #22c5ad;
        --bs-info: #41cbd8;
        --bs-warning: #ff9f43;
        --bs-danger: #ef4d56;
        --bs-pink: #fd3c97;
        --bs-purple: #7367f0;
        --bs-blue: #0d6efd;
        --bs-light: #f4f6f9;
        --bs-dark: #2b2d3b;
        --bs-primary-rgb: 34, 197, 94;
        --bs-secondary-rgb: 149, 160, 197;
        --bs-success-rgb: 34, 197, 173;
        --bs-info-rgb: 65, 203, 216;
        --bs-warning-rgb: 255, 159, 67;
        --bs-danger-rgb: 239, 77, 86;
        --bs-pink-rgb: 253, 60, 151;
        --bs-purple-rgb: 115, 103, 240;
        --bs-blue-rgb: 13, 110, 253;
        --bs-light-rgb: 244, 246, 249;
        --bs-dark-rgb: 43, 45, 59;
        --bs-primary-text-emphasis: #0e4f26;
        --bs-secondary-text-emphasis: #3c404f;
        --bs-success-text-emphasis: #0e4f45;
        --bs-info-text-emphasis: #1a5156;
        --bs-warning-text-emphasis: #66401b;
        --bs-danger-text-emphasis: #601f22;
        --bs-light-text-emphasis: #7a82b1;
        --bs-dark-text-emphasis: #7a82b1;
    }
}
